.main_heading{
	font-family:$default-font;
	font-size:40px;
	font-weight:900;
}

.second_heading{
	font-family:$default-font;
	font-size:30px;
	font-weight:800;
}

.third_heading{
	font-family:$default-font;
	font-size:20px;
	font-weight:700;
}